<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="css/main.css">

        <style>
            .hero-unit {

                box-shadow: inset 0 0 5px rgba(0,0,0,.3);
            }
        </style>

        <script src="js/vendor/markdown.converter.js"></script>
        <script src="js/vendor/markdown.editor.js"></script>

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">Windfall</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="#">About</a></li>
                            <li><a href="#about">Docs</a></li>
                            <li><a href="#contact">Download</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tech <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-header">Backend</li>
                                    <li><a href="#">Node</a></li>
                                    <li><a href="#">Mongo</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header">Frontend</li>
                                    <li><a href="#">Bootstrap</a></li>
                                    <li><a href="#">Backbone</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">

            <div class="well">
                <form>
                    <fieldset>
                        <legend>New {{name|title}}</legend>
                        {% for field in fields %}
                        <label>{{field.label}}</label>
                        {% if field.type != 'textarea' %}
                        <input type="{{field.type}}" name="{{field.name}}" placeholder="{{field.name}}" rows="10">
                        {% else %}
                        <div class="row">
                            <div class='container span4'>
                                <textarea name="{{field.name}}" placeholder="{{field.name}}" rows="10" class="wmd-input span6" id="wmd-input"></textarea>
                            </div>
                            <div id="wmd-preview" class="wmd-panel wmd-preview span4"></div>
                        </div>
                        
                        {% endif %}
                        {% endfor %}
                    </fieldset> 
                </form>
                <a href="#" class='btn btn-primary btn-large'>Go</a>
            </div>

            <hr>

            <footer>
                <p>&copy; Company 2012</p>
            </footer>

        </div> <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
        <script type="text/javascript">
        $(function () {
             var converter = new Markdown.Converter();
             var editor = new Markdown.Editor(converter);
             editor.run();
         });
        </script>
    </body>
</html>
